<template>
  <div class="hello">
      <canvas id="canvas" ref="canvas"></canvas>
  </div>
</template>

<script>
export default {
    props: {
        width: {
            default: 600
        },
        height: {
            default: 500
        },
        columns: {
            default: 10
        },
        rows: {
            default: 8
        }
    },
    data () {
        return {
            context: null
        };
    },
    watch: {
        width () {
            this.syncSize();
            this.drawGrid();
        },
        height () {
            this.syncSize();
            this.drawGrid();
        }
    },
    mounted () {
        this.context = this.$refs.canvas.getContext('2d');
        this.syncSize();
        this.drawGrid();
    },
    computed: {
        columnPixels () {
            return this.width / this.columns;
        },
        rowPixels () {
            return this.height / this.rows;
        }
    },
    methods: {
        syncSize () {
            this.context.canvas.width = this.width;
            this.context.canvas.height = this.height;
        },
        drawGrid () {
            this.context.strokeStyle = "black";
            this.context.beginPath();

            for (let i = 1; i < this.columns; i++) {
                this.context.moveTo(this.columnPixels * i, 0);
                this.context.lineTo(this.columnPixels * i, this.height);
            }
            for (let i = 1; i < this.rows; i++) {
                this.context.moveTo(0, this.rowPixels * i);
                this.context.lineTo(this.width, this.rowPixels * i);
            }
            this.context.stroke();
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#canvas {
    border: 1px solid black;
}
</style>
